.array-container {
	height: 88vh;
	width: 84vw;
	margin: 0 8vw;
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	justify-content: center;
}

.array-bar {
	background-color: pink;
}

.menu{
	padding: 0px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	background-color: #333;
}

.sub-menu{
	display: flex;
	justify-content: space-around;
}

.sub-menu div{
	color: white;
	text-align: center;
	padding: 16px 16px;
}

.sub-menu div:hover,  sub-menu div:active{
	background-color: #111;
}

.range-input{
	margin-left: 20px;
}

.range-input p{
	margin-right: 20px;
	display: inline;
}

.sub-menu .array-size{
	display: inline-block;
	padding: 0;
	min-width: 60px;
}
